.bundle
.DS_Store
.env
.vagrant/*
*.swp
*scratchpad*
/.bundle
/config/app_environment_variables.rb
/coverage/*
/db
/external-data
/log/*.log
/openfarm
/public/system
/public/temp-uploads
/tmp
/vendor/bundler
coverage/
coverage/*
docker_volumes/
